.vscode/

# Pylance / Pyright
pyrightconfig.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Project-specific generated outputs
syn_out/
checkpoints/
.gradio/

# Ignore only generated .wav files inside output folders, but keep others
syn_out/**/*.wav
checkpoints/**/*.wav
